<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors) { %>
  <ul class="notice error">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<div class="add-classification-container">
    
    <form action="/inv/add-classification" method="POST" id="add-classification-form" class="register-form">
        <label for="classification_name">Classification Name</label>
        <input 
            type="text" 
            id="classification_name" 
            name="classification_name" 
            required 
            pattern="^[a-zA-Z0-9]+$" 
            title="Only alphanumeric characters allowed. No spaces or special characters."
            value="<%= locals.classification_name %>"> <button type="submit">Add Classification</button>
    </form>
</div>