<!-- Task One
Create a new management view inside the views > inventory folder.
The view should contain an appropriate title and h1 value to represent its role as a management view for all things dealing with inventory.
The view must be capable of displaying a flash message sent from the existing inventory controller.
The view should contain two links (no links are directly to a view, all must use the MVC approach):
One to trigger a process to deliver an add new classification view (see Task 2).
One to trigger a process to deliver an add new inventory view (see Task 3).
The view must be delivered using the MVC architecture as with all other views.
The view must meet the requirements of the frontend checklist.
For now, there should NOT be a link to reach this view in any other view. It will be accessed only by direct manipulation of the URL. Use this route: site-name/inv/)
 -->

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice error">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<%# messages() %>
<div class="management-links">
    <a href="/inv/add-classification" title="Click to add new Classification">Add New Classification</a>
    <a href="/inv/add-inventory" title="Click to add new Inventory">Add New Inventory</a>
</div>